*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: aqua;
    justify-content: space-between;
    flex-direction: row;

}
.headerdiv{
    background-color: aliceblue;
    height: 100%;
    width: 20vw;
}
.headerinputs{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.headerinputs *{
    border: none;
    margin: 1vw;
}
.headerinputs button{
    background-color: orange;
    width: 10vw;
    height: 2vh;
    border: none;

}
aside{
    display: flex;
    flex-direction: row;
}
.imagesection{
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    width: 20vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;

}
.imagediv{
    width: 15vw;
    height: 15vw;
    background-color: gray;
    
}
.imagesection *{
    margin: 1vh 0;
}
.bannersection{
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 0;
}
.bannersection div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 5vw;
}
.bannerdiv h3{
    font-size: 5vh;
}
.bannerdiv p{
    font-size: 3vh;
}
.flecha{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    background-color: #fff;
}
.flecha img{
    height: 15vh;
}
.imagesection button{
    background-color: #424242;
    border: none;
    padding: 1vh 3vw;
    color: #dedede;
}
article{
    display: flex;
    flex-direction: row;
}
.left-images{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.right-images{
    display: grid;
}
.art-img{
height: 40vh;
width: 40vh;
background-color: #424242;
margin: 2vh 2vh;
}
.bigimage{
    margin: 2vh 2vh;
    height: 84vh;
    width: 82vh;
}
footer{
    display: flex;
    flex-direction: row;
    margin: 5vh 20vw;
}
footer div{
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-items: center;
    text-align: center;
    margin: 0 2.5vw;
}

.footerimg{
    height: 7vh;
    width: 7vh;
    background-color: #424242;
    margin-bottom: 2vh;
}